{% extends 'base.html' %}
{% block body %}

    <div style="  background-image:  url('/static/img/book.jpg');" xmlns="http://www.w3.org/1999/html">

    <div class="logo2"><h1>Be a scholar to bright the future</h1> </div>
   <div id="gradient"></div>
<div class="content">

 <div class="logo3"><p style=";
    text-align: center;
     color: white;
     text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: transparent;
   ">
            ScholarshipHub is a platform where you can find easily the best scholarships across the world.Please help us by sharing this site with your friends. Thanks!
        </p> </div>
 <div class="container1">
        <a   class="btn btn-warning button1" href="{% url 'home' %}" role="button">Go To Home</a>
</div>

</div>
    </div>
 {% endblock %}

{% block footer %}
<div style="border: 2px solid gray;position: fixed;
height: auto;
  left: 0;
  bottom: 0;
width: 100%" class="footer-basic">
 <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/omparkash.ladhani" role="button"
        target="_blank"><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/Parkashladhani" role="button"
        target="_blank" ><i class="fab fa-twitter"></i
      ></a>


      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/ladhani_parkash07/" role="button"
        target="_blank" ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/om-parkash-772bbb200/" role="button"
         target="_blank"><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Parkash9967" role="button"
         target="_blank"><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
<ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'services' %}">Services</a></li>
                <li class="list-inline-item"><a href="{% url 'about' %}">About</a></li>
                <li class="list-inline-item"><a href="{% url 'contact' %}">Contact Us</a></li>
                <li class="list-inline-item"><a href="{% url 'privacy' %}">Privacy Policy</a></li>
            </ul>
  <!-- Copyright -->
   <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="{% url 'index' %}">ScholarshipHub</a>
  </div>
  <!-- Copyright -->
</footer>
    </div>
{% endblock %}
