{% extends 'base.html' %}
 {% block head %}
{% endblock  %}
{% block body %}
<img src="/static/img/output.png" class="logo" alt="">
   <div id="gradient"></div>
<div class="content">
    <h2>
        Find scholarships here.!
    </h2>
<p>
    ScholarshipHub is a platform where you can find easily best scholarships across the world, here you can search scholarships
    by fields by name of scholarship or by country in which you are interest. Please help us by sharing this site with your friends. Thanks!
</p>
 <div class="container1">
        <a   class="btn btn-warning button1" href="{% url 'index' %}" role="button">Go To Home</a>

</div>
</div>
 {% endblock %}
{% block footer %}
<div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a>
                <a href="#"><i class="icon ion-social-github"></i></a>
                <a href="#"><i class="icon ion-social-twitter"></i></a>
                <a href="#"><i class="icon ion-social-facebook"></i></a>
                <a href="#"><i class="icon ion-social-google"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Contact Us</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">ScholarshipHub © 2021</p>
        </footer>
    </div>
{% endblock %}