{% extends 'base.html' %}
 {% block head %}
{% endblock  %}

{% block list %}

<div style="border: 5px solid black; width: auto; text-align: center;padding: 35px;background-color:#33332d ">
    <h3 style="color: #FFFFFF"> List of Scholarships for PHD</h3>
                  <hr style="border: 2px solid white">
    <form action="">
 {% csrf_token %}
          {% for scholars in data %}
              <div class="logo3" style="border: 1px solid black; text-align: center; background-color: white">
                 <h1 style="cursor: pointer">{{scholars.scholarship_name}}</h1>
              <h3> Program </h3>
              <h2>{{scholars.scholarship_program}}</h2>
              <h3> Country </h3>
              <h2> {{scholars.scholarship_country}}</h2>
              <h3> Dead Line </h3>
              <h2 >{{scholars.scholarship_deadline}}</h2>
              <h3> University </h3>
              <h2> {{scholars.scholarship_university}}</h2>
              <h3> Starting Date </h3>
              <h2 >{{scholars.scholarship_Start_date}}</h2>
              <li style=""><a href="{{scholars.scholarship_url}}" target="_blank"> See More</a></li>
               </div>
           {% endfor %}
    <ul class="pagination">
{% if data.has_previous %}
    <li class="page-item">
     <a style="color: green" href="?page=1" class="page-link"><< First</a>
    </li>
     <li class="page-item">
     <a style="color: green" href="{% url 'phd' %}?page={{ data.previous_page_number }}" class="page-link">Previous</a>
    </li>
{% endif %}
{% if data.has_next %}
    <li class="page-item">
     <a style="color: green" href="{% url 'phd' %}?page={{ data.next_page_number }}" class="page-link">Next >></a>
    </li>
{% endif %}
</ul>
    </form>
{% endblock %}
{% block footer %}
<div style="border: 2px solid gray;position: relative;
  left: 0;
  bottom: 0;
width: 100%" class="footer-basic">
 <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
<ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'services' %}">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Contact Us</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
  <!-- Copyright -->
   <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="{% url 'index' %}">ScholarshipHub</a>
  </div>
  <!-- Copyright -->
</footer>
    </div>
    </div>
{% endblock %}