{% extends 'base.html' %}
 {% block head %}
{% endblock  %}

{% block list %}

<div style="border: 5px solid black; width: auto; height: auto; text-align: center;padding-left: 300px;padding-right: 300px;background-color:#2f8eb6;overflow: auto " >
<div class="logo3" style="border: 1px solid gray;height: 660px;  text-align: left; background-color: white;padding-left: 10px;padding-right: 10px; padding-top: 30px">
    <div style="border: 5px solid gray; height: 600px; padding-top: 30px;padding-left: 10px;padding-right: 10px">
    <h1>Privacy Policy</h1>
    <p>The privacy of visitors to scholashipHub.com is important to us.</p>
    <p>
        At scholashipHub.com, we recognize that privacy of your personal information is important. Below is a list of what types of personal information we receive
        and collect when you use scholashipHub.com, how and when it is used, and how we safeguard your information. We never share or sell your personal information
        to third parties. If you have any concerns, please contact us at privacy[at]scholashipHub.com.
    </p>
        <h3>COOKIES</h3>
        <p>
            Cookies are small text files that are used to store small pieces of information. The cookies are stored on your device when the website is loaded on your browser.
            These cookies help us make the website function properly,
            make the website more secure, provide better user experience, and understand how the website performs and to analyze what works and where it needs improvement.
        </p>
        <h3>Necessary cookies</h3>
        <p>
            Necessary cookies are absolutely essential for the website to function properly. We use necessary cookies to ensure basic functionalities and security features of the website.
            These cookies do not store any personal information.
        </p>
        </div>
</div>
</div>
{% endblock %}
{% block footer %}
<div style="border: 2px solid gray;position: relative;
  left: 0;
  bottom: 0;
width: 100%" class="footer-basic">
 <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
<ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'services' %}">Services</a></li>
                <li class="list-inline-item"><a href="{% url 'about' %}">About</a></li>
                <li class="list-inline-item"><a href="{% url 'contact' %}">Contact Us</a></li>
                <li class="list-inline-item"><a href="{% url 'privacy' %}">Privacy Policy</a></li>
            </ul>
  <!-- Copyright -->
   <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="{% url 'index' %}">ScholarshipHub</a>
  </div>
  <!-- Copyright -->
</footer>
    </div>
{% endblock %}