{% extends 'base.html' %}
 {% block body %}
     <div style="border: 5px solid black; width: auto; text-align: center;padding: 35px;background-color:#2f8eb6 ; overflow: auto">
     <div >
<img style="height: 500px; width: 100%" src="/static/img/services%20(1).jpg" alt="">
<h1 style="text-align: center; padding-top: 50px;  color: white">Our Services</h1>
        <hr style="border: 2px solid white">
     </div>
<div class="jumbotron top-space">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class=""><h4><i class="fa fa-cogs fa-5"></i> Bachelors Degree</h4></div>
					<div class="h-body text-center">
                        <a href="{% url 'bachelor' %}"><img style="width: 300px; height: 300px" src="/static/img/B2B_Color-01.png" alt="">
                        </a>
						<p>Here are the opportunities to get the best Bachelor's scholarships for international students.<br>Please click the picture. </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Master Degree</h4></div>
					<div class="h-body text-center">
                      <a href="{% url 'master' %}">  <img style="width: 300px; height: 300px" src="/static/img/master.jpg" alt="">
                      </a>
                            <p>Here are the opportunities to get the best Master's scholarships for international students.<br>Please click the picture. </p>	</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>PHD Degree</h4></div>
					<div class="h-body text-center">
                        <a href="{% url 'phd' %}"><img style="width: 300px; height: 300px" src="/static/img/phd-degree_647_032117111721.jpg"  alt="">
                        </a>
                         <p>Here are the opportunities to get the best PHD's scholarships for international students.<br>Please click the picture. </p></div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Countries</h4></div>
					<div class="h-body text-center">
                        <a href="{% url 'countries' %}"><img style="width: 300px; height: 300px" src="/static/img/countries-design-sketch-name.png" alt="">
                        </a>
                          <p>Please search scholarships  here for specific countries .<br>Please click the picture. </p></div>
				</div>
			</div> <!-- /row  -->

		</div>
	</div>

     </div>

 {% endblock %}

{% block footer %}
<div style="border: 2px solid gray;" class="footer-basic">
 <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
<ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'services' %}">Services</a></li>
                <li class="list-inline-item"><a href="{% url 'about' %}">About</a></li>
                <li class="list-inline-item"><a href="{% url 'contact' %}">Contact Us</a></li>
                <li class="list-inline-item"><a href="{% url 'privacy' %}">Privacy Policy</a></li>
            </ul>
  <!-- Copyright -->
   <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="{% url 'index' %}">ScholarshipHub</a>
  </div>
  <!-- Copyright -->
</footer>
    </div>
{% endblock %}

