{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Title</title>
     <meta charset="UTF-8">
 <meta charset="utf-8">
</head>
<body>
{% block list %}
<div style="border: 5px solid black; width: auto; text-align: center;padding: 35px;background-color:#C5C5C5  ">
 <h1>Top 10 Scholarships</h1>
    <form action="">
 {% csrf_token %}
          {% for scholars in data %}
              <div class="logo3" style="border: 3px solid white; text-align: left; background-color: skyblue">
                 <h1 style="cursor: pointer">#{{scholars.name}}</h1>
              <h3 style="margin-top: 5px; margin-bottom: 10px"> Program </h3>
              <h2>{{scholars.program}}</h2>
              <h3> Country </h3>
              <h2> {{scholars.scholarship_country}}</h2>
              <li  style=""><a href="{{scholars.url}}" target="_blank"> See More</a></li>
              </div>
           {% endfor %}

    </form>
</div>
{% endblock %}
{% block footer %}
<div style="border: 2px solid gray;position: relative;
  left: 0;
  bottom: 0;
width: 100%" class="footer-basic">
 <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
<ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'services' %}">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Contact Us</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
  <!-- Copyright -->
   <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="{% url 'index' %}">ScholarshipHub</a>
  </div>
  <!-- Copyright -->
</footer>
    </div>
{% endblock %}
</body>
</html>